@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Space Mono", monospace;
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 79%, 68%);
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--light-grayish-cyan);
  font-family: var(--font);
  font-size: 1.5rem;
}

button,
input {
  border: none;
  outline: none;
  font-family: var(--font);
  width: 100%;
}

.container {
  max-width: 60rem;
  min-height: 100vh;
  background: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--very-dark-cyan);
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .5rem;
  padding: 2rem 0;
}

.title span {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--white);
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.inputs {
  padding: 1.5rem 0;
}

.bill,
.tip {
  position: relative;
  margin-bottom: 2rem;
}

.bill img {
  position: absolute;
  top: 62%;
  margin-left: 1rem;
}

.number-people img {
  position: absolute;
  bottom: 26.25%;
  margin-left: 1rem;
}

.bill label,
.number-people label,
.tip label {
  color: var(--grayish-cyan);
  font-size: 1rem;
  display: block;
  margin-bottom: .75rem;
}

.bill input, 
.number-people input,
.btns input{
  background: var(--very-light-grayish-cyan);
  text-align: right;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  color: var(--very-dark-cyan);
  cursor: pointer;
}

.bill input:focus,
.number-people input:focus,
.tip input:focus {
  border: 2px solid var(--strong-cyan);
}

.bill input:focus,
.number-people input:focus,
.tip input:focus {
  border: 2px solid var(--strong-cyan);
}

.bill input::placeholder,
.number-people input::placeholder,
.btns input::placeholder {
  color: var(--grayish-cyan);
}

.bill input::-webkit-inner-spin-button,
.number-people input::-webkit-inner-spin-button,
.tip input::-webkit-inner-spin-button {
  appearance: none;
}

.btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tip-value  {
  background: var(--very-dark-cyan);
  color: var(--white);
  border: none;
  padding: .5rem 0;
  border-radius: .3rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .4s ease;
}

.btns button:hover {
  background: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.n-people-header {
  display: flex;
  justify-content: space-between;
}

.error-msg {
  display: none;
  color: var(--red);
  font-size: 1rem;
}

.totals {
  background: var(--very-dark-cyan);
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
}

.totals small {
  color: var(--white);
  font-size: 1rem;
}

.totals .p-person {
  color: var(--grayish-cyan);
  font-size: .75rem;
}

.amount,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--strong-cyan);
  margin-bottom: 2.5rem;
}

.amount {
  margin-bottom: 1.5rem;
}

.amount-l,
.total-l {
  display: flex;
  flex-direction: column;
}

.totals-r {
  font-size: 2rem;
}

.totals button {
  border: none;
  cursor: pointer;
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
  padding: .75rem 0;
  border-radius: .5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: .4s ease;
}

.totals button:hover {
  background: var(--light-grayish-cyan);
}

.disabled {
  opacity: .25;
}

.selected {
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.inactive {
  background: var(--very-dark-cyan);
  color: var(--white);
}

.error {
  border: 2px solid var(--red);
}

@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
  }

  .title {
    padding: 0 0 2rem 0;
  }

  .inputs {
    width: 50%;
  }

  .btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .totals {
    width: 50%;
  }

  .total {
    padding-bottom: 11rem;
  }
}

@media (max-width: 599px) {
  .number-people img {
    position: absolute;
    bottom: 32.5%;
    margin-left: 1rem;
  }
  
}





